// Blog Page

.blog,
.archive,
.search {

  .content {
    padding-bottom: 30px;
    @include min-screen($breakpoint-medium) {
      padding-bottom: 60px;
    }
  }

  .page-header {
    h1 {
      margin-top: 0;
    }
  }

  .main-column-right {
    &.-top {
      > .grid {
        padding: 0 0 30px;
        border-bottom: 2px solid $brand-primary;
      }
    }

    .content-left,
    .content-right {
      h2 {
        color: $brand-primary;
      }
    }

    @include min-screen($breakpoint-medium) {

      .content-left {
        padding-right: 30px;
      }
    }
  }

  .news-grid {
    .article {
      .article-title {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0;
        font-family: $sans;
        line-height: 1.5em;
        text-transform: capitalize;
        a {
          color: $brand-primary;
          text-decoration: none;
          transition: color .2s ease-out;
          &:hover,
          &:focus {
            color: $brand-secondary;
          }
        }
      }
      .article-meta {
        font-size: 11px;
        line-height: 1.636363636em;
      }
      .article-excerpt {
        p {
          margin-top: 0;
        }
      }
    }
  }
}

// Categories list
.categories-list {
  margin-bottom: 30px;
  h3 {
    font-size: 16px;
    margin: 0 4px 0 0;
    color: $brand-primary;
    display: inline-block;
  }
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      list-style: none;
      position: relative;
      display: inline-block;
      &:first-of-type {
        &:before {
          display: none;
        }
      }
      &:before {
        margin: 0 4px;
        color: $black;
        content: ' | ';
      }
      a {
        text-decoration: none;
        transition: color .2s ease-out;
        &:hover,
        &:focus {
          color: $brand-secondary;
        }
      }
    }
  }
}

// Post navigation
nav.pagination {
  margin-top: 30px;
  .nav-links {
    @include clearfix();
  }

  a {
    color: $brand-primary;
    text-decoration: none;
  }

  .page-numbers {
    float: left;
    padding: 0 6px;
    display: inline-block;
    &:not(.prev) {
      &+ .page-numbers {
        border-left: 2px solid $black;
        &.next {
          border-left: none;
        }
      }
    }
  }

  @include min-screen($breakpoint-medium) {

  }
}