// Color Schemes

@mixin colorScheme($color, $secondary) {
  .content {
    .page-header {
      h1 {
        color: $color;
      }
    }

    h2 {
      color: $color;
    }
  }

  // Gutter Icons
  .site-main {
    .main-column-left {
      .icon {
        fill: $color;
      }
    }
  }

  // Page user content
  .user-content {
    h1, h2, h3, h4, h5, h6 {
      color: $color;
    }
    .button a {
      margin: 30px 0;
      @include button($color, $brand-secondary);
    }
  }
}