// Home page

.home.page {
  .site-header {
    @include min-screen($breakpoint-medium) {
      position: relative;
      &:after {
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        content: '';
        opacity: .75;
        height: 160px;
        position: absolute;
        background-image: linear-gradient(rgba(black,0), $black);
      }

    }

    .main-column-right {
      display: block;
    }

    .photo-credit {
      margin-top: 30px;

      @include min-screen($breakpoint-medium) {
        bottom: 0;
        margin-bottom: 0;
        position: absolute;
      }

      @include min-screen($breakpoint-nav) {
        bottom: 40px;
        margin-top: 0;
      }
    }

    .header-text {
      @include min-screen(1200px) {
        max-width: 55%;
      }
    }

  }

  .site-main {

    .main-column-right {
      background: none;
      @include min-screen($breakpoint-medium) {
        margin-top: 0;
        > .grid {
          padding: 0;
        }
      }
    }

    .content-left {
      padding: 30px;
      @include min-screen($breakpoint-medium) {
        padding: 60px 0;
      }
    }
    .content-left {
      
      @include min-screen($breakpoint-medium) {
        max-width: 55%;
        flex-basis: 55%;
        padding-right: 60px;
      }

      h2, h3 {
        color: $brand-primary;
      }

      p {
        margin-top: 0;
      }
    }
    .content-right {
      position: relative;

      .events-list {
        padding: 30px;
      }

      .featured-event {
        padding-bottom: 60px;
      }

      @include min-screen($breakpoint-medium) {
        max-width: 45%;
        flex-basis: 45%;

        .events-list {
          padding-top: 60px;
          padding-left: 60px;
          padding-right: 30px;
        }

        .featured-event {
          overflow: hidden;
          max-height: 590px;
          padding-bottom: 100px;
        }
      }
    }
  }

  .events-list {
    background: $brand-primary;

    .event {
      &:hover,
      &:focus {
        .article-title {
          a {
            color: $brand-secondary;
          }
        }
      }
      .article-date {
        color: $white;
        border-color: $white;
      }
      .article-title {
        a {
          color: $black;
        }
      }
      .event-summary {
        color: $white;
      }
    }

    .btn {
      margin-top: 30px;
      @include button($black, $brand-secondary);
    }

    // Featured event
    &.featured-event {
      color: $white;
      background: $black;

      h2,
      .article-title a {
        color: $brand-primary;
      }
    }
  }

  .recent-news {
    background: $green-lite;

    .main-column-right {
      padding: 30px;

      @include min-screen($breakpoint-medium) {
        padding: 48px 0 60px;
      }
    }

    h2 {
      color: $brand-primary;

      @include min-screen($breakpoint-medium) {
        margin-right: 30px;
      }
    }

    .article-list {
      
      @include min-screen($breakpoint-medium) {
        flex-wrap: wrap;

        article {
          flex-basis: 50%;
          padding-right: 30px;
        }
      }

      @include min-screen($breakpoint-large) {
        flex-wrap: none;

        article {
          flex-grow: 1;
          flex-basis: 0;
          padding-right: 30px;
          max-width: 100% * 1/3;
        }
      }
    }
  }
}