// General Page Template

.site-main {

  .main-column-left {
    position: relative;
    text-align: center;

    .icon {
      width: 72px;
      height: 72px;
      display: none;
      fill: $brand-primary;
    }

    @include min-screen($breakpoint-medium) {

      .icon {
        display: inline-block;
      }
    }
  }

  .header-gutter-icons {
    left: 50%;
    top: -216px;
    display: none;
    position: absolute;
    transform: translateX(-50%);
    .icon {
      margin: 0 auto;
      display: block;
    }

    @include min-screen($breakpoint-medium) {
      display: block;
    }
  }

}

.page:not(.home),
.blog {
  @include colorScheme($brand-primary, $brand-secondary);
}

body:not(.home) {

  .site-main {

    .main-column-left {

      @include min-screen($breakpoint-medium) {
        &.-top {
          &:before {
            right: 0;
            width: 50%;
            z-index: -1;
            content: '';
            bottom: 100%;
            height: 288px;
            position: absolute;
            background: $white;
          }
        }
      }
    }

    .main-column-right {
      padding: 30px;
      @include min-screen($breakpoint-medium) {
        padding: 60px 30px 0 0;
      }

      &.-top {
        padding-bottom: 0;
        background: $white;

        @include min-screen($breakpoint-medium) {
          margin-top: -288px;
        }
      }

      .intro-text {
        margin-bottom: 30px;
        .page-header {
          h1 {
            margin-top: 0;
          }
        }
        p {
          margin: 0;
          font-size: 18px;
          line-height: 1.5em;
        }

        @include min-screen($breakpoint-medium) {
          max-width: 670px;
          p {
            font-size: 24px;
          }
        }
      }

      > .one-half {
        .user-content .one-half {
          @include max-screen(900px) {
            float: none;
            width: 100%;
            max-width: none;
          }
        }
      }

      .content-left {
        @include min-screen($breakpoint-medium) {
          margin-bottom: 0;
        }
      }
    }

    .secondary-content {
      &.intro-section {
        .main-column-right {
          padding-top: 0;
        }
      }

      .main-column-right {
        padding-bottom: 30px;

        @include min-screen($breakpoint-medium) {
          padding-bottom: 60px;

          .content-left {
            padding-right: 30px;
          }
        }
      }
    }

  }
}

.page-template-default {

  .page-header {
    width: 100%;
  }

}