// Single Posts/Events

body.single {
  .content {
    color: $white;
    background: $black;
    border-bottom: 2px solid $white;
  }

  .back-to-list {
    right: 0;
    bottom: 2.2em;
    position: absolute;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $brand-secondary;
      text-decoration: underline;
    }
  }

  .page-header {
    position: relative;
    h2 {
      padding-right: 90px;
      color: $brand-primary;
    }
    .back-to-list {
      right: 0;
      bottom: 2.2em;
    }
  }

  .post-nav-container {
    position: relative;
  }
  .post-nav {
    left: 0;
    right: 0;
    top: 50%;
    display: none; // hide on small screen for now
    position: absolute;
    @include min-screen($breakpoint-medium) {
      display: block;
    }
    > div {
      top: 0;
      position: absolute;
      display: inline-block;
      &:hover,
      &:focus {
        .arrow-wrap {
          border-color: $brand-secondary;
        }
        .arrow {
          &:before {
            box-shadow: 2px 2px 0 $brand-secondary, 3px 2px 0 $brand-secondary, 2px 3px 0 $brand-secondary, 3px 3px 0 $brand-secondary;
          }
          &:after {
            color: $brand-secondary;
          }
        }
        .text {
          color: $brand-secondary;
        }
      }
    }
    a {
      text-decoration: none;
      display: inline-block;
      transform: translateY(-50%);
    }
    .previous {
      left: -12.5%;
      transform: translateX(-50%);
    }
    .next {
      right: -12.5%;
      transform: translateX(50%);
    }
    .arrow-wrap {
      width: 70px;
      height: 70px;
      display: flex;
      border-radius: 50%;
      text-align: center;
      border: 2px solid $white;
      transition: border-color .2s ease-out;
    }
    .arrow {
      margin: auto;
      @include arrow($white);
    }
    .text {
      display: block;
      font-size: 11px;
      margin-top: 10px;
      text-align: center;
      transition: color .2s ease-out;
    }
  }

  article {
    position: relative;
    @include clearfix();
    .back-to-list {
      right: 0;
      bottom: 0;
    }

    .btn {
      @include button($white, $brand-secondary);
    }

    main {
      margin-bottom: 30px;
    }

    header {
      margin-bottom: 30px;
    }

    .user-content {
      h2, h3 {
        margin-bottom: 1em;
        color: $brand-primary;
      }

      img, img:first-child {
        margin: 15px 0;
      }

      ul, ol {
        padding-left: 0;
      }

      .button a {
        margin: 30px 0;
        @include button($white, $brand-secondary);
      }

      figure, figure:first-child {
        margin: 30px 0;
      }

      figure > img,
      figure >img:first-child {
        margin: 0;
      }

      figcaption {
        font-size: 11px;
        line-height: 1.636363636;
      }

      blockquote {
        padding: 20px 0;
        p {
          font-size: 24px;
          margin-bottom: 0;
          color: $brand-primary;
          font-family: $display;
        }
      }
    }

    @include min-screen($breakpoint-medium) {
      main {
        width: 75%;
        float: left;
        margin-bottom: 0;
      }
      aside {
        width: 25%;
        float: left;
      }
    }
  }

  .article-image {
    height: 0;
    width: 100%;
    padding-bottom: 40%;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center center;
    @include min-screen($breakpoint-medium) {
      margin-bottom: 48px;
    }
  }

  .article-title {
    margin-top: 0;
    font-size: 36px;
    line-height: 1em;
    color: $brand-primary;
  }

  .article-meta {
    color: $brand-primary;
  }

  .event-price {
    margin: 0;
  }

  .registration-link {
    margin-top: 30px;
  }

  @include min-screen($breakpoint-medium) {
    .content {
      padding-bottom: 60px;
    }

    .site-header {
      min-height: 446px;
    }

    .site-main {
      .main-column-right {
        padding-right: $column * 2;
      }
    }

    .article-title {
      font-size: 48px;
    }
  }
}

// Share links
.share {
  @include clearfix();
  ul {
    margin: 0;
    padding: 0;
    @include clearfix();
    @include min-screen($breakpoint-medium) {
      float: right;
    }
  }
  li {
    float: left;
    list-style: none;
    &+ li {
      margin-left: 20px;
    }
  }
  a {
    width: 60px;
    height: 60px;
    display: flex;
    background: none;
    border-radius: 100%;
    border: 2px solid $white;
    transition: border-color .2s ease-out, background .2s ease-out;
    &:hover,
    &:focus {
      background: $brand-secondary;
      border-color: $brand-secondary;
      .icon {
        fill: $black;
      }
    }
  }
  .icon {
    margin: auto;
    fill: $white;
    display: block;
    vertical-align: top;
    transition: fill .2s ease-out;
  }
  .icon-facebook {
    width: 8px;
    height: 18px;
  }
  .icon-twitter {
    width: 24px;
    height: 17px;
  }
}