// Tour Page

.page.tour {
  @include colorScheme($red, $brand-secondary);

  .intro-section {
    .content-right {
      display: none;
      @include min-screen($breakpoint-medium) {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
      }
    }
    .stat {
      background-image: url('../images/tourstat1.png');
    }
  }

  .visit-section {
    background: $red-lite;
    h3 {
      color: $red;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        line-height: 1.5em;
      }
    }

    .pricing-table {
      td span {
        background: $red-lite;
      }
    }

    .content-right {
      display: none;
      @include min-screen($breakpoint-medium) {
        display: flex;
        justify-content: space-around;
      }
    }
    .stat {
      margin: auto;
      background-image: url('../images/tourstat2.png');
      h3 {
        color: $white;
      }
    }
  }

  .projects-section {
    .main-column-right {
      .project-list {
        padding: 0;

        .project {
          min-width: 20%;

          h3 {
            color: $red;
            margin-bottom: 0;
          }

          p {
            margin-top: 0;
          }

          @include min-screen($breakpoint-medium) {
            flex-basis: 50%;
            padding-right: 30px;
          }

          @include min-screen(1200px) {
            flex-grow: 1;
            flex-basis: 0;
          }
        }
      }
    }
  }
}