// Tour Page

.page.tour {
  @include colorScheme($red, $brand-secondary);

  .visit-section {
    background: $red-lite;
    h3 {
      color: $red;
    }

    .pricing-table {
      td span {
        background: $red-lite;
      }
    }
  }

  .projects-section {
    .main-column-right {
      .project-list {
        padding: 0;

        .project {
          flex-grow: 1;
          flex-basis: 0;

          h3 {
            color: $red;
          }

          @include min-screen($breakpoint-medium) {
            padding-right: 30px;
          }
        }
      }
    }
  }
}