// Who We Are page

.page.who-we-are {

  .people-section {
    position: relative;
    padding-bottom: 30px;
    background: $brand-primary;

    .row.staff {
      margin-bottom: 60px;
    }

    .main-column-left {
      .icon {
        fill: $black;
      }
    }

    h2 {
      color: $black;
    }

    // People Grid mods for ../components/_people-grid.scss
    .active-person-container {
      .active-person-header {
        color: $brand-primary;
      }
    }
  }

  .user-content {
    ul {
      padding: 0;
      margin-left: 0;
      li {
        font-size: 11px;
        list-style: none;
        line-height: 1.636363636em;
      }
    }
  }

}