// Grid

$margin: 1em;
$padding: 1em;
$column: 100% * (1 / 12);

// Main column layout
.site-grid {
  width: 100%;
  justify-content: flex-end; 
}
.main-column-left {
  position: relative;
  @include min-screen($breakpoint-medium) {
    float: left;
    width: 2 * $column;
  }
}
.main-column-right {
  max-width: 1400px;
  position: relative;
  @include min-screen($breakpoint-medium) {
    float: left;
    width: 10 * $column;
  }
}

.row {
  width: 100%;
  flex-basis: 100%;
  position: relative;
}

.grid {
  display: block;
  @include min-screen($breakpoint-medium) {
    display: flex;
  }
  &.-persist {
    display: flex;
  }
}

.one-half-right, .two-thirds-right, .one-third-right, .one-third-middle, .one-fourth-right  {margin-top: $margin;}


.grid.-persist {
  .flex-item {
    flex-basis: auto;
  }
  .one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}

@include min-screen($breakpoint-medium) {
  .flex-item {
    flex-basis: auto;
  }
  .one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}