// Variables

// Colors

$black: #1e1e1e;
$white: #fff;
$gray: #969696;
$green: #4cba7a;
$green-lite: #d3f0dc;
$yellow: #ffc732;

// Brand Swatches
$brand-primary: $green;
$brand-secondary: $yellow;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;