// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: 16px;
  overflow-x: hidden;
  font-family: $sans;
  background: $white;
  &.nav-open {
    position: fixed;
    @include min-screen($breakpoint-small) {
      position: static;
    }
  }
}

h1, h2 {
  letter-spacing: .12em;
  font-family: $display-sc;
  text-transform: lowercase;
}

p {
  font-size: 16px;
  line-height: 1.5em;
  em {
    font-style: italic;
  }
}

a {
	color: inherit;
  &:focus {
    outline: none;
  }
}

img {
	max-width: 100%;
  height: auto;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Overlay
.global-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  position: fixed;
  background: rgba($black,.5);
  &.-active {
    display: block;
  }
}

// Utility classes
.hide {
  display: none;
}

.clearfix {
  @include clearfix();
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  // max-width: 1230px;
  position: relative;
  @include clearfix();
  @include min-screen($breakpoint-medium) {
  }
}

// Main content area
.site-container {

  @include min-screen($breakpoint-medium) {
    z-index: 1;
    position: relative;
  }
}

.content {
  padding: 0; 
  width: 100%;
  position: relative;
  @include min-screen($breakpoint-medium) {
  }

  .page-header {
    h1 {
      font-size: 30px;
      line-height: 1.2em;
      color: $brand-primary;
    }

    @include min-screen($breakpoint-medium) {
      h1 {
        font-size: 48px;
      }
    } 
  }

  h2 {
    margin: 0 0 30px;
    padding-bottom: 30px;
    border-color: inherit;
    border-bottom: 2px solid;
  }
}

.site-main {
  width: 100%;
  .main-column-right {

    > .grid {
      flex-wrap: wrap;
      @include min-screen($breakpoint-medium) {
        padding: 60px 0 60px 115px;
      }
    }

    .page-header {
      width: 100%;
    }
  }
}