// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: 16px; //Em base unit
  font-size: 100%;
  overflow-x: hidden;
  font-family: $sans;
  background: $white;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .12em;
  font-family: $display-sc;
  text-transform: lowercase;
}

p {
  font-size: 16px;
  line-height: 1.5em;
  em {
    font-style: italic;
  }
}

a {
	color: inherit;
  &:focus {
    outline: none;
  }
}

img {
	max-width: 100%;
  height: auto;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: $black;
  padding: 50px;
  text-align: center;
  background: $brand-primary;
}
.alert {
  padding: 50px;
  background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1230px;
  position: relative;
  @include clearfix();
  @include min-screen($breakpoint-medium) {
  }
}

// Main content area
.content {
  width: 100%;
  padding: 0; 
  position: relative;
  @include min-screen($breakpoint-medium) {
  }

  .page-header {
    h1 {
      font-size: 30px;
      line-height: 1.2em;
      color: $brand-primary;
    }

    @include min-screen($breakpoint-medium) {
      h1 {
        font-size: 48px;
      }
    } 
  }

  h2 {
    margin: 0 0 30px;
    padding-bottom: 30px;
    border-color: inherit;
    border-bottom: 2px solid;
  }
}

.site-main.main-column-right {
  background: $white;
  @include min-screen($breakpoint-medium) {
    margin-top: -294px;
  }

  > .grid {
    flex-wrap: wrap;
    @include min-screen($breakpoint-medium) {
      padding: 60px 0 60px 115px;
    }
  }

  .page-header {
    width: 100%;
  }
}