// Footer

.site-footer {
  color: $white;
  position: relative;
  background: $black;
  padding: 30px 30px 60px;
  -webkit-font-smoothing: antialiased;

  .main-gutter {
    margin-bottom: 20px;
  }

  .main-column-right {
    .grid {
      flex-wrap: wrap;
    }

    .content-left,
    .content-right {
      > div {
        margin-bottom: 20px;
      }
    }
  }

  .content-right {
    padding-right: 30px;
    justify-content: space-between;
  }

  .footer-logo {
    .icon {
      width: 100px;
      height: 36px;
      fill: $white;
      transition: fill .2s ease-out;
    }

    &:hover,
    &:focus {
      .icon {
        fill: $brand-secondary;
      }
    }
  }

  h3 {
    margin-top: 0;
    font-size: 11px;
    font-weight: bold;
    font-family: $sans;
    text-transform: none;
    line-height: 1.636363636em;
  }
  
  p {
    margin: 0;
  }

  p, address, a {
    font-size: 11px;
    font-weight: 200;
    font-family: $sans;
    line-height: 1.636363636em;
  }

  .social {
    ul {
      margin: 0;
      padding: 0;
      @include clearfix();
    }
    li {
      float: left;
      list-style: none;
      &+ li {
        margin-left: 10px;
      }
    }
    a {
      width: 36px;
      height: 36px;
      display: flex;
      background: none;
      border-radius: 100%;
      border: 2px solid $white;
      transition: border-color .2s ease-out, background .2s ease-out;
      &:hover,
      &:focus {
        background: $brand-secondary;
        border-color: $brand-secondary;
        .icon {
          fill: $black;
        }
      }
    }
    .icon {
      margin: auto;
      fill: $white;
      display: block;
      vertical-align: top;
      transition: fill .2s ease-out;
    }
    .icon-facebook {
      width: 6px;
      height: 12px;
    }
    .icon-instagram {
      width: 10px;
      height: 10px;
    }
    .icon-twitter {
      width: 15px;
      height: 10px;
    }

    @include min-screen($breakpoint-medium) {
      margin-right: 20px;
    }
  }

  .visit {
    address {
      font-style: normal;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-pattern {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    position: absolute;
  }

  @include min-screen($breakpoint-medium) {
    padding: 24px 0 96px;

    .grid,
    .flex-item {
      display: flex;
    }

    .main-gutter {
      margin-bottom: 0;
      text-align: center;
    }

    .main-column-right {
      .content-left,
      .content-right {
        max-width: 100%;
        flex-basis: 100%;

        > div {
          margin-bottom: 36px;
        }
      }
    }

  }

  @include min-screen(1080px) {
    
    .grid,
    .flex-item {
      align-items: flex-end;
    }

    .main-column-right {
      .content-left,
      .content-right {
        max-width: 50%;
        flex-basis: 50%;

        > div {
          margin-bottom: 0;
        }
      }
    }

  }
}