// Footer

.site-footer {
  color: $white;
  background: $black;
  padding: 30px 0 60px;
  @include min-screen($breakpoint-medium) {
    padding: 24px 0 48px;
  }

  .contact {
    @include min-screen($breakpoint-small) {}
  }
}