// Header

.site-header {
  display: flex;
  color: $white;
  min-height: 160px;
  background-size: cover;
  background-position: center center;
  @include min-screen($breakpoint-medium) {
    position: relative;
  }

  &:before {
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    content: '';
    opacity: .75;
    height: 160px;
    position: absolute;
    background-image: linear-gradient($black,rgba(black,0));
  }

  .container {
    z-index: 1;
    padding: 30px;
    position: static;

    @include min-screen($breakpoint-medium) {
      position: relative;
    }
  }

  .main-column-left {
    position: absolute;
  }
  .main-column-right {
    position: static;
  }

  // Style changes when nav is open
  &.nav-open {
    .site-title {
      @include max-screen($breakpoint-medium) {
        .icon {
          fill: $brand-primary;
        }
      }
    }
  }

  .site-title {
    margin: 0;
    z-index: 2;
    position: relative;
    a {
      height: 0;
      width: 117px;
      display: block;
      position: relative;
      padding-top: 35.831469244%;
      transition: all .2s ease-out;
      &:hover, &:focus {
        .icon {
          fill: $brand-secondary;
        }
      }
    }
    .icon {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: $white;
      position: absolute;
      transition: fill .2s ease-out;
    }

    @include min-screen($breakpoint-medium) {
      a {
        width: 195px;
        transform-origin: bottom;
        transform: rotate(90deg) translateX(28px) translateY(34px);
      }
    }
  }

  .header-text {
    margin-top: 100px;

    h2 {
      font-size: 30px;
      line-height: 1.2em;
    }

    @include min-screen($breakpoint-medium) {
      left: 0;
      width: 100%;
      bottom: 66px;
      max-width: 70%;
      position: absolute;


      h2 {
        font-size: 48px;
      }
    }
  }

  @include min-screen($breakpoint-small) {
  }

  @include min-screen($breakpoint-medium) {
    min-height: 732px;

    .container {
      padding: 36px 30px;
    }

    .main-column-left,
    .main-column-right {
      position: relative;
    }

  }
}
