// Nav

// wp admin bar push
.admin-bar {}

.site-nav {
  .nav {
    margin: 0;
    padding: 0;
    @include clearfix();
    li {
      list-style: none;
      &.current-menu-item {
        a {
          &:after {
            opacity: 1;
          }
        }
      }
    }
    a {
      transition: color .2s ease-out;
      // Underline
      &:after {
        bottom: 0;
        left: 12px;
        opacity: 0;
        right: 12px;
        content: '';
        height: 2px;
        position: absolute;
        background: $white;
        transition: opacity .2s ease-out, background .2s ease-out;
      }

      &:hover, &:focus {
        color: $brand-secondary;
        &:after {
          opacity: 1;
          background: $brand-secondary;
        }
      }
    }
  }

  @include min-screen($breakpoint-medium) {
    float: right;

    .nav {
      li {
        float: left;
        a {
          padding: 12px;
          position: relative;
          text-decoration: none;
        }
      }
    }
  }
}
// mobile menu toggle
.nav-toggle {
  top: 0;
  z-index: 1;
  right: 30px;
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  appearence: none;
  position: absolute;
  -webkit-appearence: none;
  @include min-screen($breakpoint-medium) {
    display: none;
  }  
  &:focus, &:active {
    outline: none;
  }
  &:hover {

  }

  .nav-label {
    opacity: 1;
    float: left;
    display: none;
    font-size: 14px;
    text-transform: uppercase;
  }

  // open state
  &.nav-open {
    .nav-svg {
      .dots {
        left: 24px;
        opacity: 0;
        background: rgba($white,0);
        animation: showDots .2s .2s forwards;
        &:before {
          animation: toCloseDotsTop .6s .2s forwards;
        }
        &:after {
          animation: toCloseDotsBottom .6s .2s forwards;
        }
      }

      path {
        &.x {
          transition: .2s .2s ease-in-out;
          transform: rotate(45deg) translate(-24%, 80px) scaleX(.7);
          &:first-of-type {
            transform: rotate(-45deg) translate(-24%, -80px) scaleX(.7);
          }
        }
        &.yy {
          stroke-dashoffset: -1200;
          transition: .25s 0s ease-in-out;
        }
      }
    }
  }

  // svg
  .nav-svg {
    display: inline-block;
    transform: translate(-1px, 2px);

    // Dots
    .dots {
      top: 24px;
      left: 10px;
      width: 2px;
      height: 2px;
      border-radius: 1px;
      background: $white;
      position: absolute;
      transition: background .25s ease-out, left .25s ease-out;
      &:before,
      &:after {
        left: 0;
        opacity: 1;
        width: 2px;
        content: '';
        height: 2px;
        border-radius: 1px;
        background: $white;
        position: absolute;
      }
      &:before {
        top: -7px;
      }
      &:after {
        top: 7px;
        transition-delay: .1s;
      }
    }

    path {
      stroke: $white;
      stroke-width: 70;
      &.x {
        transition: .25s 0s ease-in-out;
        transform-origin: right center;
        transform: rotate(0deg) translateX(0px);
      }
      &.yy {
        stroke-dashoffset: 1700;
        stroke-dasharray: 2520 3000;
        transition: .2s .2s ease-in-out;
      }
    }
  }
}

@keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toCloseDotsBottom {
  from, 40%, 75%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    transform: translate3d(0, 5px, 0);
  }

  75% {
    transform: translate3d(0, -3px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes toCloseDotsTop {
  from, 40%, 75%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    transform: translate3d(0, -5px, 0);
  }

  75% {
    transform: translate3d(0, 3px, 0);
  }

  to {
    transform: none;
  }
}