// People Grid

.people-grid {
  margin: 0;
  padding: 0;
  @include clearfix();

  .person {
    width: 100%;
    list-style: none;
    position: relative;
    &+ .person {
      margin-top: 30px;
      @include min-screen($breakpoint-medium) {
        margin-top: 0; 
      }
    }

    .person-activate {
      top: 0;
      right: 0;
      &:hover,
      &:focus {
        // Thumb
        + .person-data .thumb-wrap .thumb-hover {
          opacity: 1;
        }
      }
    }

    h3 {
      font-size: 16px;
      line-height: 1em;
      letter-spacing: 0;
      font-family: $sans;
      text-transform: capitalize;
      .sub-title {
        display: block;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.636363636em;
      }
    }

    .thumb-wrap {
      @extend .sr-only;
      @include min-screen($breakpoint-medium) {
        margin: 0;
        clip: auto;
        width: auto;
        height: auto;
        position: relative;
      }
    }

    .person-title {
      min-height: 34px;
    }
  }

  .thumb-wrap {
    .thumb {
      overflow: hidden;
      img {
        display: none;
      }
    }
  }

  .bio {
    display: none;
  }

  @include min-screen($breakpoint-medium) {
    margin: 0 -15px;
    width: calc(100% + 30px);
  
    .person {
      width: 180px;
      vertical-align: top;
      margin: 0 15px 30px;
      display: inline-block;
    }
  }
}


// Things that are consistent between active and passive states
.x-button.person-toggle {
  z-index: 1;
  position: absolute;
  &:hover,
  &:focus {
    background: $brand-secondary;
    border-color: $brand-secondary;
    &:before,
    &:after {
      color: $black;
    }
    .x {
      &:before,
      &:after {
        background: $black;
      }
    }
  }
}

.thumb-wrap {
  position: relative;
  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: '';
    border-radius: 50%;
    position: absolute;
    transition: opacity .2s ease-out;
    background: rgba($brand-secondary, .5);
  }
  .thumb,
  .thumb-hover {
    height: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    padding-bottom: 100%;
    background-size: cover;
  }
  .thumb-hover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition: opacity .2s ease-out;
  }
}

// Active Person Container
.active-person-container {
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: none;
  margin-top: -32px;
  position: absolute;
  background: $black;
  @include clearfix();
  &.-active {
    display: flex;
  }

  .x-button.person-toggle {
    top: 42px;
    right: $column;
    @extend .-plus;
    transform: rotate(0deg) translateX(50%);
  }

  .-column-right {
    padding: 30px;
    position: relative;
  }

  .person-data {
    @extend .grid;
    &.exitRight {
      animation: exitRight .2s forwards;
    }
    &.exitLeft {
      animation: exitLeft .2s forwards;
    }
    &.enterRight {
      animation: enterRight .2s forwards;
    }
    &.enterLeft {
      animation: enterLeft .2s forwards;
    }
  }

  .active-person-header {
    color: $brand-primary;
  }

  .person-title h3 {
    @extend h1;
    font-size: 18px;
    margin-bottom: 30px;
    color: $brand-primary;
    .sub-title {
      display: block;
      font-size: 12px;
      margin-top: 30px;
      letter-spacing: 0;
      font-family: $sans;
      text-transform: capitalize;
    }
  }
  
  .bio {
    color: $white;
    p {
      margin-top: 0;
    }
  }

  .post-nav {
    left: 0;
    right: 0;
    top: 130px;
    display: none; // hide on small screen for now
    position: absolute;
    @include min-screen($breakpoint-medium) {
      display: block;
    }
    > div {
      top: 0;
      cursor: pointer;
      position: absolute;
      display: inline-block;
      &:hover,
      &:focus {
        .arrow-wrap {
          border-color: $brand-secondary;
        }
        .arrow {
          &:before {
            box-shadow: 2px 2px 0 $brand-secondary, 3px 2px 0 $brand-secondary, 2px 3px 0 $brand-secondary, 3px 3px 0 $brand-secondary;
          }
          &:after {
            color: $brand-secondary;
          }
        }
        .text {
          color: $brand-secondary;
        }
      }
    }
    .previous {
      left: -$column;
      transform: translateX(-50%);
    }
    .next {
      right: $column;
      transform: translateX(50%);
    }
    .arrow-wrap {
      width: 70px;
      height: 70px;
      display: flex;
      border-radius: 50%;
      text-align: center;
      border: 2px solid $white;
      transition: border-color .2s ease-out;
    }
    .arrow {
      margin: auto;
      @include arrow($white);
    }
    .text {
      color: $white;
      display: block;
      font-size: 11px;
      margin-top: 10px;
      text-align: center;
      transition: color .2s ease-out;
    }
  }

  @include min-screen($breakpoint-medium) {
    .thumb-wrap,
    .person-info {
      max-width: 50%;
      flex-basis: 50%;
      padding-right: 30px;
    }

    .-column-right {
      width: $column * 10;
      padding: 60px $column*2 60px 0;
    }

    .person-title h3 {
      margin-top: 0;
      font-size: 48px;
      line-height: 1.25em;
      .sub-title {
        font-size: 16px;
        line-height: 1.5em;
      }
    }
  }
}