// Sponsors List
.sponsors-grid {
  margin: 0 0 0 -30px;
  width: calc(100% + 30px);

  .sponsor-category {
    padding-left: 30px;
  }
}

.sponsors-list {
  padding: 0;
  list-style: none;

  .sponsor {
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;

    .logo {
      img {
        width: auto;
        max-height: 60px;
        vertical-align: top;
      }
    }

    .sponsor-name {
      font-size: 11px;
      margin-top: 10px;
      max-width: 100px;
      font-weight: bold;
      margin-bottom: 1em;
      font-family: $sans;
      text-transform: none;
      line-height: 1.636363636em;
      a {
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
        }
      }
    }
  }


  @include min-screen($breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .sponsor {
      width: auto;
      margin-left: 60px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}