// Styling of content that is editable in wysiwyg

.user-content {
  @include clearfix();

  h3, h4, h5, h6 {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5em;
    font-family: $sans;
    text-transform: capitalize;
  }

  p {

  }

  ol,
  ul {
    li {
      ol,
      ul {

      }
    }
  }

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid $brand-secondary;
    + p {
      margin-bottom: 0;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  a {
    color: inherit;
    &:hover, &:focus {
      color: $brand-secondary;
    }
    &.btn {
      margin-bottom: 30px;
    }
  }

  table {
    &.pricing-table {
      width: 100%;
      position: relative;
      tr {
        position: relative;
        &:before {
          left: 0;
          width: 100%;
          overflow: hidden;
          position: absolute;
          letter-spacing: .5em;
          content: '................................................................';
        }
      }
      td {
        margin: 0;
        padding: 0;
      }
      td span {
        position: relative;
        // gonna have to do this on an individual basis to set the background color
      }
      td + td {
        text-align: right;
      }
    }
  }

  // Janky in-editor html edits for columns:
  .one-half {
    @include min-screen($breakpoint-medium) {
      width: 50%;
      float: left;
      padding-right: 20px;
    }
  }
}